.header {
  background: #606c88;
  background: linear-gradient(to right, #3f4c6b, #606c88);
  padding: 1%;
  color: white;
}

.container {
  padding: 3%;
  text-align: center;
}
.cart-item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  padding: 2%;
}

.dark-theme {
  background-color: #3f4c6b;
  color: white !important;
  height: 100%;
  /* padding: 1%; */
}
